@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    min-height: 800px;
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
    color: #ebeef5;
    font-family: Poppins, sans-serif;
}

section {
    margin-top: 6rem;
    padding-bottom: 4rem;
}